<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <!--<link rel="stylesheet" href="fontello/css/iconfont.css">-->
  </head>
  <body ng-app="flowApp" md-theme="blue" layout="column">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div layout="row">
      <md-toolbar ng-controller="ToolbarCtrl">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-sm>
            <md-icon md-svg-src="icons/ic_menu_36px.svg"></md-icon>
          </md-button>
          <h2>
            <span>Flow</span>
          </h2>
          <span flex></span>
          <md-input-container md-no-float id="search">
            <md-icon md-svg-src="/demo-partials/input/demoIcons/icons/ic_place_24px.svg"></md-icon>
            <input ng-model="user.address" type="text" placeholder="Address">
          </md-input-container>
          <md-button class="md-icon-button" aria-label="Search">
            <md-icon md-svg-src="icons/ic_search_48px.svg"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
    </div>

    <div flex layout="row" ng-controller="SidebarCtrl">
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
          <md-list>
            <md-list-item>
            <md-list>
              <md-list-item>
                <md-button ng-click="" flex>INBOX</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-click="" flex>DOING</md-button>
              </md-list-item>
              <md-list-item>
                <md-button ng-click="" flex>DONE</md-button>
              </md-list-item>
            </md-list>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-no-sticky">Projects</md-subheader>
            <md-list-item ng-repeat="project in projects">
              <md-button layout="row">
                <img ng-src="{{project.avatar}}?{{$index}}" class="avatar" alt="{{project.name}}" />
                <div flex class="md-list-item-text">
                  <h4>{{ project.name }}</h4>
                </div>
              </md-button>
            </md-list-item>
          </md-list>
      </md-sidenav>
      <div flex class="content">
        <md-content layout="row" layout-padding layout-align="top center" id="main">
          <ng-view flex></ng-view>
        </md-content>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/run.js"></script>
        <script src="scripts/interceptor.js"></script>
        <script src="scripts/controllers/toolbar.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/project.js"></script>
        <script src="scripts/controllers/task.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/services/restapi.js"></script>
        <script src="scripts/controllers/landing.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/controllers/sidebar.js"></script>
        <script src="scripts/services/auth.js"></script>
        <!-- endbuild -->
</body>
</html>
