<!doctype html>
<html class="no-js" ng-app="flowApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class="ng-cloak" ng-controller="MainCtrl" md-theme="blue" layout="column">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->


    <!-- Navbar goes here -->

    <md-toolbar class="md-whiteframe-z2" ng-cloak>
      <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings"
                   hide-gt-md
                   ng-click="toggleSidebar()">
          <md-icon md-svg-icon="images/icons/ic_menu_36px.svg"></md-icon>
        </md-button>
        <h2>
          <span>Flow</span>
        </h2>
        <span flex></span>
          <md-button class="md-icon-button"
                     aria-label="Favorite"
                     ng-show="showComponent()">
            <md-icon md-svg-icon="images/icons/ic_search_48px.svg"></md-icon>
          </md-button>
          <md-input-container ng-show="showComponent()">
            <label>Keyword</label>
            <input ng-model="search">
          </md-input-container>
        <md-button class="md-icon-button"
                   aria-label="User Profile"
                   ng-show="showComponent()">
          <md-icon md-svg-icon="images/icons/ic_settings_applications_48px.svg"
                   ng-click="goToUserProfile()"></md-icon>
        </md-button>
          <md-button class="md-icon-button"
                     aria-label="More"
                     ng-show="showComponent()">
            <md-icon md-svg-icon="images/icons/ic_exit_to_app_48px.svg"
              ng-click="logout()"></md-icon>
          </md-button>
      </div>
    </md-toolbar>


    <section flex layout="row">
      <md-sidenav flex class="md-sidenav-left md-whiteframe-z2"
                  md-component-id="sidebar"
                  md-is-locked-open="$mdMedia('gt-md')"
                  ng-if="showComponent()">
          <md-list ng-controller="SidebarCtrl"
                   flex>
            <md-list-item ng-click="goToPersonal()">
              <md-icon md-svg-icon="images/icons/ic_person_48px.svg"></md-icon>
              <p>Personal</p>
            </md-list-item>
            <md-subheader class="md-no-sticky">Projects</md-subheader>
            <md-list-item ng-repeat="project in projects"
                          ng-click="goToProject(project)">
              <p>{{ project.name }}</p>
              <md-icon md-svg-icon="images/icons/ic_settings_48px.svg"
                       ng-click="editProject(project)"
                       aria-label="Edit Project"
                       class="md-secondary">
              </md-icon>
            </md-list-item>
            <md-list-item ng-click="createProject()">
              <md-icon md-svg-icon="images/icons/ic_add_box_48px.svg"></md-icon>
              <p>Create Project</p>
            </md-list-item>
            </md-list>
      </md-sidenav>
      <div ng-view flex layout="column">
      </div>
    </section>




    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/run.js"></script>
        <script src="scripts/interceptor.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/register.js"></script>
        <script src="scripts/controllers/project.js"></script>
        <script src="scripts/controllers/task.js"></script>
        <script src="scripts/controllers/user.js"></script>
        <script src="scripts/services/restapi.js"></script>
        <script src="scripts/controllers/landing.js"></script>
        <script src="scripts/services/config.js"></script>
        <script src="scripts/controllers/sidebar.js"></script>
        <script src="scripts/services/auth.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
