<div layout="column" layout-fill layout-padding>
  <md-card flex layout="row">
    <form flex layout="row" name="new_task">
      <md-input-container id="task_input" flex>
        <label>New Task</label>
        <input ng-model="task.title">
      </md-input-container>
      <md-button class="md-icon-button"
                 aria-label="New Task"
                 ng-click="submitTask()"
                 ng-disabled="!task.title">
        <md-icon md-svg-icon="images/icons/ic_inbox_48px.svg"></md-icon>
      </md-button>
    </form>
  </md-card>
  <md-card flex layout="column"
           ng-repeat="task in (filterResult = (tasks | orderBy: 'id':true | filter:{$: search} | filter: {status: task_status})) | limitTo: item_limit"
           ng-if="task.deleted!==1">
    <div layout="row" tabindex="-1"
         ng-click="task.expanded = !task.expanded">
      <md-checkbox ng-model="task.status"
                   aria-label="Checkbox"
                   ng-true-value="2"
                   ng-false-value="0"
                   ng-change="updateTask(task)">
      </md-checkbox>
      <p flex>{{task.title}}</p>
      <md-button class="md-icon-button" aria-label="More" ng-if="task.expanded">
        <md-icon md-svg-icon="images/images/icons/ic_mode_edit_48px.svg"></md-icon>
      </md-button>
    </div>
    <div ng-if="task.expanded">
      <md-input-container>
        <label>Description</label>
        <textarea ng-model="task.description"></textarea>
      </md-input-container>
      <div layout="row">
        <md-input-container flex>
          <label>New Sub-task</label>
          <input ng-model="task.newsubtask.title">
        </md-input-container>
        <md-button class="md-icon-button"
                   aria-label="New Sub-task"
                   ng-click="addSubTask(task)"
                   ng-disabled="!task.newsubtask">
          <md-icon md-svg-icon="images/icons/ic_add_circle_outline_48px.svg"></md-icon>
        </md-button>
      </div>
      <md-list>
        <md-list-item ng-repeat="subtask in task.sub_tasks"
                      ng-if="subtask.deleted !== 1">
          <md-checkbox ng-model="subtask.status"
                       aria-label="SubTask Checkbox"
                       ng-true-value="2"
                       ng-false-value="0"
                       ng-change="updateTask(task)">
          </md-checkbox>
          <p>{{subtask.title}}</p>
            <md-icon class="md-secondary"
                     aria-label="Delete Sub-task"
                     class="md-icon-button"
                     md-svg-icon="images/icons/ic_remove_circle_outline_48px.svg"
                     ng-click="deleteSubTask($index, task)"></md-icon>
        </md-list-item>
      </md-list>

      <md-input-container>
        <label>Deadline</label>
        <input ng-model="task.deadline">
      </md-input-container>
      <md-contact-chips ng-model="task.assignees"
                        md-contacts="querySearch($query)"
                        md-contact-name="nickname"
                        md-contact-email="email"
                        filter-selected="true"
                        placeholder="Assignees">
      </md-contact-chips>

      <div layout="row">
        <md-button class="md-primary"
                   ng-click="updateTask(task)"
                   aria-label="Update Task">Update</md-button>
        <div flex></div>
        <md-button ng-click="deleteTask(task)"
                   aria-label="Delete Task">
          <md-icon md-svg-icon="images/icons/ic_delete_48px.svg"></md-icon>
        </md-button>
      </div>
    </div>
  </md-card>
  <md-button ng-show="filterResult.length > item_limit" ng-click="item_limit=item_limit+8">Show More</md-button>
</div>
