<md-card ng-hide="true" ng-mouseover="hover = true" ng-mouseout="hover = false" layout="column" layout-padding>
  <div  layout="row" layout-align="center center">
    <md-checkbox ng-model="task.status" ng-change="updateTask(task)" ng-true-value="2" ng-false-value="0"></md-checkbox>
    <h2 flex>{{task.title}}</h2>
  </div>
  <md-list flex>
    <md-subheader class="md-no-sticky">Description:</md-subheader>
    <md-list-item>{{task.description}}</md-list-item>
    <md-subheader>Deadline:</md-subheader>
    <md-list-item>{{task.end_time}}</md-list-item>
    <md-subheader>Assignees:</md-subheader>
    <md-list-item>
      <md-list flex>
      </md-list>
    </md-list-item>
    <md-subheader>Sub Tasks:</md-subheader>
    <md-list-item>
      <md-list flex>
      </md-list>
    </md-list-item>
  </md-list>
</md-card>

<md-card ng-hide="true" ng-mouseover="hover = true" ng-mouseout="hover = false" layout="column" layout-padding>
  <div  layout="row" layout-align="center center">
    <md-checkbox ng-model="task.status" ng-change="updateTask(task)" ng-true-value="2" ng-false-value="0"></md-checkbox>
    <md-input-container flex="60">
      <label>Task</label>
      <input type="text" ng-model="task.title" ng-change="updateTask(task)">
    </md-input-container>
    <md-input-container flex>
      <label>Deadline</label>
      <input type="date" ng-model="task.endtime" ng-change="updateTask(task)">
    </md-input-container>
  </div>
  <md-list flex>
    <md-list-item>
      <md-input-container flex>
        <label>Description</label>
        <textarea type="text" ng-model="task.description" ng-change="updateTask(task)"></textarea>
      </md-input-container>
    </md-list-item>
    <md-list-item>

    </md-list-item>
    <md-subheader>Assignees:</md-subheader>
    <md-list-item>
      <md-list flex>
      </md-list>
    </md-list-item>
    <md-subheader>Sub Tasks:</md-subheader>
    <md-list-item>
      <md-list flex>
      </md-list>
    </md-list-item>
  </md-list>
</md-card>
