<md-content layout-padding>
  <h2 ng-if="isNew">Create A New Project</h2>
  <h2 ng-if="!isNew">Project</h2>
  <md-input-container>
    <label>Project Name</label>
    <input ng-model="project.name"
           type="text" required>
  </md-input-container>
  <div layout="row">
    <md-input-container flex="40">
      <label>Add Member</label>
      <input ng-model="email"
             type="email" required>
    </md-input-container>
    <md-button class="md-icon-button"
               aria-label="Favorite"
               ng-click="insertMemberEmail()">
      <md-icon md-svg-icon="images/icons/ic_add_circle_outline_48px.svg"></md-icon>
    </md-button>
  </div>
  <md-list>
    <md-list-item ng-repeat="member in project.members">
      <p>{{member.nickname}}</p>
      <p>{{member.email}}</p>
      <md-icon class="md-secondary"
               aria-label="Delete Sub-task"
               md-svg-icon="images/icons/ic_remove_circle_outline_48px.svg"
               ng-click="removeMember($index)"></md-icon>
    </md-list-item>
  </md-list>
  <md-button class="md-raised md-primary"
             ng-click="saveProject()"
             ng-disabled="!project.name">Submit</md-button>
  <div flex></div>
  <md-button
             ng-click="deleteProject()"
             ng-disabled="!project.name">Delete Project</md-button>
</md-content>

