<md-content layout-padding>
  <h2 >User Profile</h2>
  <md-input-container>
    <label>Nickname</label>
    <input ng-model="user.nickname"
           type="text" required>
  </md-input-container>
  <md-input-container>
    <label>Email</label>
    <input ng-model="user.email"
           type="email" required>
  </md-input-container>
  <md-input-container>
    <label>Original Password</label>
    <input ng-model="user.original_password"
           type="password" required>
  </md-input-container>
  <md-input-container>
    <label>New Password</label>
    <input ng-model="user.new_password"
           type="password" required>
  </md-input-container>
  <md-button class="md-raised md-primary"
             ng-click="saveUser()"
             ng-disabled="!user.nickname">Submit</md-button>
  <div flex></div>
  <md-button
    ng-click="deleteProject()"
    ng-disabled="!project.name">Delete Account</md-button>
</md-content>

